$fontsize-heading1: 34px;
$fontsize-heading2: 26px;
$fontsize-heading3: 22px;
$fontsize-heading4: 20px;
$fontsize-heading5: 18px;
$fontsize-heading6: 18px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.cm-formatting {
  margin-top: 4px;
}

strong,
.cm-s-obsidian .cm-strong {
  font-weight: 700;
}

th,
.cm-s-obsidian .cm-header,
.markdown-embed-title {
  font-weight: 500;
}

.cm-header-1,
.markdown-preview-section h1 {
  font-size: $fontsize-heading1;
  color: var(--text-title-h1);

  &.cm-formatting {
    font-size: $fontsize-heading1 - 4px;
  }
}

.cm-header-2,
.markdown-preview-section h2 {
  font-size: $fontsize-heading2;
  color: var(--text-title-h2);

  &.cm-formatting {
    font-size: $fontsize-heading2 - 4px;
  }
}

.cm-header-3,
.markdown-preview-section h3 {
  font-size: $fontsize-heading3;
  color: var(--text-title-h3);
  &.cm-formatting {
    font-size: $fontsize-heading3 - 4px;
  }
}

.cm-header-4,
.markdown-preview-section h4 {
  font-size: $fontsize-heading4;
  color: var(--text-title-h4);
  &.cm-formatting {
    font-size: $fontsize-heading4 - 6px;
  }
}

.cm-header-5,
.cm-header-6,
.markdown-preview-section h5,
.markdown-preview-section h6 {
  font-size: $fontsize-heading5;
  color: var(--text-title-h5);
  &.cm-formatting {
    font-size: $fontsize-heading5 - 8px;
  }
}
