// /* Frameless mode */
.titlebar {
  background-color: var(--dark-aux);
  border-bottom: 1px solid var(--background-modifier-border);
}

.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf.mod-active
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container:before,
.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf.mod-active
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container:after,
.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type.mod-active
  .view-header-title-container:after,
.view-header-title-container:after {
  background: transparent !important;
}

.view-header,
.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  background: transparent;
  border: none;
}

.view-header-title {
  color: var(--text-faint);
  font-size: 12px;
}

.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  top: 0;
  height: 100%;
  width: 1px;
}

// shift app ribbon down if title bar is hidden but app ribbon is visible
body.hider-frameless:not(.hider-ribbon) .side-dock-actions {
  padding-top: 24px;
}
