// /* Frameless mode */
.titlebar {
  background-color: var(--dark-aux);
  border-bottom: 1px solid var(--background-modifier-border);
}

.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type.mod-active
  .view-header-title-container:after {
  background: transparent;
}

.view-header {
  height: 40px;
}

.view-header-title {
  font-size: 12px;
}

.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  background: transparent;
}

.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  top: 0;
  height: 100%;
  width: 1px;
}

// shift app ribbon down if title bar is hidden but app ribbon is visible
body.hider-frameless:not(.hider-ribbon) .side-dock-actions {
  padding-top: 24px;
}
