@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

.page-header {
  display: none;
}

.site-footer {
  display: none;
}

.no-sidebar .site-body-left-column {
  display: none;
}
