::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: solid 4px transparent;
  min-height: 40px;
}

.workspace-split.mod-left-split .view-content,
.workspace-split.mod-right-split .view-content {
  overflow: overlay;
}
