button {
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
  margin-right: 0px;
}

button + button {
  margin-left: 12px;
}

.modal.mod-settings .vertical-tab-content-container {
  padding: 0;
}

button.mod-cta {
  background-color: var(--frost3);

  &:hover {
    background-color: var(--interactive-before);
  }
}

.vertical-tab-content {
  padding-top: 24px;
}

.dropdown {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--dark1);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23c8d3f5%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.dropdown:hover {
  background-color: var(--dark2);
}

/* --------------- */
/* Toggle switches */

.checkbox-container {
  background-color: var(--background-modifier-border);
  border: 1px solid var(--background-modifier-border);
  width: 40px;

  &:after {
    transform: translate3d(0, 0, 0);
    width: 14px;
    height: 14px;
    box-shadow: none;
  }

  &.is-enabled {
    background-color: var(--frost2);

    &:after {
      transform: translate3d(18px, 0, 0);
    }
  }
}

.community-plugin-search {
  padding: 24px 0 0 0;

  .setting-item-control,
  .search-input-container {
    width: 100%;
  }
}
