.workspace-leaf-content .view-content {
  padding: 8px 0;
}

.workspace-leaf-resize-handle {
  background-color: var(--dark2);
}

.workspace-leaf.mod-active .view-header {
  border-bottom: none;
}

// .view-actions a {
//   color: var(--text-normal);

//   &:hover {
//     color: var(--text-a);
//   }
// }
