.markdown-preview-view {
  font-family: Inter, "Avenir Next", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  padding-left: 48px;
  padding-right: 48px;

  .markdown-embed-content > .markdown-preview-view {
    max-height: unset;
  }

  .cm-header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Merriweather, Georgia, serif;
    letter-spacing: 0.25px;
    line-height: 125%;
    margin: 24px 0;
  }

  hr {
    margin: 32px 0;
  }

  code {
    color: var(--inline-code);
  }
}

.markdown-preview-section {
  pre code,
  code {
    background-color: var(--pre-code);
  }

  pre code {
    color: var(--code-block);
    display: block;
    line-height: 1.4em;
    padding: 4px;
  }

  code {
    color: var(--inline-code);
  }
}
